.update-bio-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

.update-bio-card h3 {
  margin-bottom: 15px;
}

.update-bio-card textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  padding: 10px;
}

.update-bio-card button {
  background-color: #0055aa;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}
.labelBio{
    display: block;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #003366;
}
.textBox{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.saveBtn{
    display: block;
    cursor: pointer;
}